<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/portfolio2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
            <!-- <h5 class="card-text"><a href="https://manojtummala.github.io/">View my Live Demo</a></h5> -->
           
          <a href="https://manojtummala.github.io/" class="btn btn-primary stretched-link ml-2 mr-5">View Demo</a>
          <a href="https://github.com/manojtummala/manojtummala.github.io" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/project2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Tinder Swipe Bot Using Python</h4>
           <h5 class="card-text"><b>Technology :</b> Python, Selenium </h5>
    
            <!-- <h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5> -->
    
        <!-- <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a> -->
          <a  href="https://github.com/manojtummala/Tinder-Swipe-Bot" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/project3.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Double Pendulum</h4>
          <h5 class="card-text"><b>Technology :</b> Java Script (or) Python </h5>
            <!-- <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5> -->
        <a href="https://manojtummala.github.io/Double-Pendulum/Double-Pendulum--JS/index.html" class="btn btn-primary stretched-link ml-2 mr-5">View Demo</a>
          <a href="https://github.com/manojtummala/Double-Pendulum" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project4.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Cube Waves</h4>
           <h5 class="card-text"><b>Technology :</b> P5js [concept of Simple Harmonic Motion] </h5>
           <!-- <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"> Read Blog on this  Project</a></h5> -->
        <a href="https://manojtummala.github.io/Cube-Waves/Cube-Waves--JS/index.html" class="btn btn-primary stretched-link ml-2 mr-5">View Demo</a>
          <a href="https://github.com/manojtummala/Cube-Waves" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project5.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Steering Behaviour</h4>
           <h5 class="card-text"><b>Technology :</b> Java Script(Steering Behaviour Algorithm) </h5>
             <!-- <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"> Read Blog on this  Project</a></h5> -->
          <a href="https://manojtummala.github.io/Steering-Behavior/" class="btn btn-primary stretched-link ml-2 mr-5">View Demo</a>
          <a href="https://github.com/manojtummala/Steering-Behavior" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/project6.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">3D Terrain</h4>
           <h5 class="card-text"><b>Technology :</b> P5js and processing </h5>
             <!-- <h5 class="card-text"><a href="https://code.tutsplus.com/tutorials/how-to-create-an-android-chat-app-using-firebase--cms-27397"> Read Blog on this  Project</a></h5> -->
          <a href="https://github.com/manojtummala/3D-Terrain" class="btn btn-primary stretched-link ml-2 mr-5">GithubLink</a>
          <!-- <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a> -->
        </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/project7.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Space Arena</h4>
          <h5 class="card-text"><b>Technology :</b> Python Turtle </h5>
         <!-- <a href="https://github.com/mehulk05/Know-Your-Disease" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/manojtummala/SPACE-ARENA" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/project8.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Rubiks Cube</h4>
           <h5 class="card-text"><b>Technology :</b> Processing </h5>
       <!-- <a href="https://github.com/mehulk05/Pizza-Ordering-System" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/manojtummala/Rubicks_Cube" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      
    
    
    </div>
    </div>
  </div>