<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hey <strong>Manoj T</strong> here... Am a Sophomore at Sathyabama. Recently started experimenting on Front-End web development and like to expirement things based on P5js and other new softwares.</p>


              <p>
                I want to learn more about Angular CLI... Currently just working with Angular for the sake of this Portfolio.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">20th Jan 2002</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">tummalamanoj2002@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">College:</strong>
                </div>
                <div class="col-sm-8">Sathyabam Institute of Science and Technology</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Currently Working on:</strong>
                </div>
                <div class="col-sm-8">Web development and Python 
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Skilled Languages:</strong>
                </div>
                <div class="col-sm-8">Python, C/C++, working on HTML,CSS,JS and Angular</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>